.control-card {
    padding-top: 5px;
    background: #fff;
    border-radius: 10px;
    height: 120px;
    width: 510px;
    text-align: center;
}
.control-info {
    font-size: 20px;
    color: #3b82f6;
    font-weight: 700;
}
.btn {
    transform: scale(1.5);
}
