.control-card {
    padding-top: 5px;
    background: #fff;
    border-radius: 10px;
    height: 120px;
    width: 100% !important;
    text-align: center;
    border: 1px solid #f0f0f0;
}
.control-info {
    font-size: 20px;
    color: #3b82f6;
    font-weight: 700;
}
.btn {
    transform: scale(1.5);
}
.control-buttons{
  width: 100% !important;
  margin-left: 1px !important;
  display: flex;
}
